## Observations and Insights

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "Pymaceuticals/data/Mouse_metadata.csv"
study_results_path = "Pymaceuticals/data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Review data files individually
# print(mouse_metadata, study_results)
# mouse_metadata.info()
# study_results.info()

# Combine the data into a single dataset
merge_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")
merge_df.describe()

# Display the data table for preview
merge_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [3]:
# Checking the number of mice.
merge_df["Mouse ID"].value_counts()

g989    13
m957    10
l471    10
i635    10
e584    10
        ..
t573     1
h428     1
o848     1
x226     1
d133     1
Name: Mouse ID, Length: 249, dtype: int64

In [4]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

merge_df.loc[merge_df.duplicated(['Mouse ID','Timepoint'])]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [5]:
# Optional: Get all the data for the duplicate mouse ID. 
merge_df.loc[merge_df['Mouse ID'] == 'g989']

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [6]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

clean_df = merge_df.drop_duplicates(subset=["Mouse ID", "Timepoint"], keep=False)
clean_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [7]:
# Checking the number of mice in the clean DataFrame.
# NOTE:  Confirms same number of mice in dataset
clean_df["Mouse ID"].value_counts()

# NOTE:  Confirms absence of any duplicate data 
clean_df.loc[clean_df.duplicated(['Mouse ID','Timepoint'])]

Empty DataFrame
Columns: [Mouse ID, Drug Regimen, Sex, Age_months, Weight (g), Timepoint, Tumor Volume (mm3), Metastatic Sites]
Index: []

## Summary Statistics

In [8]:
# Explore difference between series and dataframe for mean values

mean = round(merge_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].mean(), 2)
mean

Drug Regimen
Capomulin    40.68
Ceftamin     52.59
Infubinol    52.88
Ketapril     55.24
Naftisol     54.33
Placebo      54.03
Propriva     52.32
Ramicane     40.22
Stelasyn     54.23
Zoniferol    53.24
Name: Tumor Volume (mm3), dtype: float64

In [9]:
ketmean = mean[3]
ketmean

55.24

In [15]:
mean_df = pd.DataFrame(mean)
mean_df

ketmean1 = mean_df.loc["Ketapril"]
ketmean1

Tumor Volume (mm3)    55.24
Name: Ketapril, dtype: float64

In [16]:
# Create a summary table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

mean = round(merge_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].mean(), 2)
median = round(merge_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].median(), 2)
var = round(merge_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].var(), 2)
std = round(merge_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].std(), 2)
sem = round(merge_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].sem(), 2)

mean_df = pd.DataFrame({"Mean": mean})
median_df = pd.DataFrame({"Median": median})
var_df = pd.DataFrame({"Variance": var}) 
std_df = pd.DataFrame({"Std. Dev.": std})
sem_df = pd.DataFrame({"SEM": sem})

statsum_df = pd.concat([mean_df, median_df, var_df, std_df, sem_df], axis = 1)
statsum_df


# stats = [mean, median, var, std, sem]

# statsum1 = pd.DataFrame(stats, columns = ["Mean", "Median", "Variance", "Std. Dev.", "SEM"])
# statsum1

# Ket = statsum_df[3]
# Ket

               Mean  Median  Variance  Std. Dev.   SEM
Drug Regimen
Capomulin     40.68   41.56     24.95       4.99  0.33
Ceftamin      52.59   51.78     39.29       6.27  0.47
Infubinol     52.88   51.82     43.13       6.57  0.49
Ketapril      55.24   53.70     68.55       8.28  0.60
Naftisol      54.33   52.51     66.17       8.13  0.60
Placebo       54.03   52.29     61.17       7.82  0.58
Propriva      52.32   50.85     42.35       6.51  0.51
Ramicane      40.22   40.67     23.49       4.85  0.32
Stelasyn      54.23   52.43     59.45       7.71  0.57
Zoniferol     53.24   51.82     48.53       6.97  0.52

In [17]:
stats = [mean, median, var, std, sem]

statsum1 = pd.DataFrame(stats, columns = ["Mean", "Median", "Variance", "Std. Dev.", "SEM"])
statsum1

# Ket = statsum_df[3]
# Ket

                    Mean  Median  Variance  Std. Dev.  SEM
Tumor Volume (mm3)   NaN     NaN       NaN        NaN  NaN
Tumor Volume (mm3)   NaN     NaN       NaN        NaN  NaN
Tumor Volume (mm3)   NaN     NaN       NaN        NaN  NaN
Tumor Volume (mm3)   NaN     NaN       NaN        NaN  NaN
Tumor Volume (mm3)   NaN     NaN       NaN        NaN  NaN

In [19]:
# Create a summary stats table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

columns = ["mean", "median", "var", "std", "sem"]
sumstat1_df = round(merge_df.groupby("Drug Regimen").agg({"Tumor Volume (mm3)": columns}), 2)
sumstat1_df

             Tumor Volume (mm3)
                           mean median    var   std   sem
Drug Regimen
Capomulin                 40.68  41.56  24.95  4.99  0.33
Ceftamin                  52.59  51.78  39.29  6.27  0.47
Infubinol                 52.88  51.82  43.13  6.57  0.49
Ketapril                  55.24  53.70  68.55  8.28  0.60
Naftisol                  54.33  52.51  66.17  8.13  0.60
Placebo                   54.03  52.29  61.17  7.82  0.58
Propriva                  52.32  50.85  42.35  6.51  0.51
Ramicane                  40.22  40.67  23.49  4.85  0.32
Stelasyn                  54.23  52.43  59.45  7.71  0.57
Zoniferol                 53.24  51.82  48.53  6.97  0.52

## Bar and Pie Charts

In [95]:
## Calcualte values for charts
# Group mouse ID's by regimen and return unique values
mouse_count_df = clean_df.groupby("Drug Regimen")["Mouse ID"].unique()

# Capnum = len(mouse_count["Stelasyn"])

mouse_count_df

Drug Regimen
Capomulin    [s185, x401, m601, f966, u364, y793, r554, m95...
Ceftamin     [a275, b447, b487, b759, f436, h531, j296, k21...
Infubinol    [a203, a251, a577, a685, c139, c326, c895, e47...
Ketapril     [a457, c580, c819, c832, d474, f278, f932, g10...
Naftisol     [a818, b559, e213, e291, e584, f993, j755, l70...
Placebo      [a262, a897, c282, c757, c766, e227, i477, i66...
Propriva     [a699, c927, g558, g570, g989, i635, k603, l21...
Ramicane     [k403, g791, s508, m546, z578, j913, n364, c75...
Stelasyn     [a366, a492, a963, b879, c402, f234, g867, h33...
Zoniferol    [a401, a788, b313, c264, c302, c559, d133, d16...
Name: Mouse ID, dtype: object

In [99]:
# Create series to hold index values

regimen = mouse_count.index
regimen

Index(['Capomulin', 'Ceftamin', 'Infubinol', 'Ketapril', 'Naftisol', 'Placebo',
       'Propriva', 'Ramicane', 'Stelasyn', 'Zoniferol'],
      dtype='object', name='Drug Regimen')

In [102]:
# Count number of mice in each drug regimen using list comprehension; store in new series  
# NOTE:  print functions were used to check that values were calculating correctly and tied to proper index ref 
mice_num = []

for x in range(len(mouse_count.index)):
    mice_num.append(len(mouse_count[x]))
    # print(mouse_count.index[x])
    # print(len(mouse_count[x]))

mice_num

[25, 25, 25, 25, 25, 25, 25, 25, 24, 25]

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 

columns = ["mean", "median", "var", "std", "sem"]
values = [mean, median, var, std, sem]

x_axis = np.arange(len(columns))

In [25]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.


x_axis = np.arange(len(columns))
# x_axis


# plt.bar(x_axis, values1, color="b", align = "center")

# Create a bar chart based upon the above data
# plt.bar(x_axis, bars_in_cities, color="b", align="center")

Drug Regimen
Capomulin    40.68
Ceftamin     52.59
Infubinol    52.88
Ketapril     55.24
Naftisol     54.33
Placebo      54.03
Propriva     52.32
Ramicane     40.22
Stelasyn     54.23
Zoniferol    53.24
Name: Tumor Volume (mm3), dtype: float64

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen